      <% if(context != 'home'){ %>
      <aside>
        <%- include('../partials/right-sidenav-'+context+'.ejs') %>
      </aside>
      <%
        }
        %>
      <footer>
        <p>YepChat</p>
      </footer>
    </div>

     
    </body>
</html>
