
	<div class="full-width">
		<h1 class="section-header">Tasks</h1>
		<ul class="task">
	      <li class="<% if(context=='api'){%>selected<%}%>"><a href="api">API: Integration with Yelp</a></li>
	      <li class="<% if(context=='front-end'){%>selected<%}%>"><a href="responsive">Front End: Responsive Design</a></li>
	      <li class="<% if(context=='new-route'){%>selected<%}%>"><a href="new-route">Back End: Add a New Route</a></li>
	    </ul>
    </div>