<h1>Todo</h1>
<ul>
	<li>Implement the function <i>doYelpSearch</i> in <i>/controllers/api.js</i>
</ul>
<p/>
<h1>Bonus</h1>
<ul>
	<li>Do search by geolocation (no input field, get lat/long from browser)</li>
	<li>Update the API to return 100 results per request</li>
	<li>Validate input field</li>
	<li>Style the results table</li>
	<li>Add sorting</li>
	<li>Add filtering</li>
</ul>