<h1>Todo</h1>
<ul>
	<li>Mobile Friendly: < 768px</li>
</ul>
<p/>
<h1>Bonus</h1>
<ul>
	<li>Add 20px gutters to outer container</li>
	<li>On mobile: collapse the left nav area into a menu. The menu should be accessible through a button, navicon, or gesture</li>
	<li>Re-theme this app</li>
</ul>