
<% include ../partials/header.ejs %>
    
      <main>
        <section>
          <h1>Time to add a new route</h1>
          <p>We want to add a new feature to the app.  Create a new route (e.g. /myNewRoute) within this app and implement a view that displays custom content</p>

      </main>

      

<% include ../partials/footer.ejs%>