
<% include ../partials/header.ejs %>
   
      <main>
        <section>
          <h1>Let's make this site responsive</h1>
          <p>This page should look good on mobile. Implement responsive design for mobile devices (let's say max-width of 768px).</p>
          <p>On mobile, all sections should display on top of each other in the order (header, left nav, main, right nav, footer)</p>
          <p>
          <h1>Requirements: </h1>
          <ul>
          <li>Header/Footer should be of fixed height</li>
          <li>Left/Right nav should take up as much vertical height as its content requires
          <li>Main section:
            <ul>
              <li>should not scroll</li>
              <li>should grow to consume unused space</li>
              </ul>
           </li>   
          </ul>
          </p>

      </main>


<% include ../partials/footer.ejs %>