<% include ../partials/header.ejs %>


      <main>
        <section>
          <h1>Welcome to YepChat! </h1>
          <p>Thanks for your interest in us! If you are seeing this, <i>we are also interested in you!!!</i></p>

          <h1>What is this?</h1>
          <p>You've just cloned, built, and launched a very simple full stack web application.  It is your personal sandbox where you can demonstrate your abilities across the stack.  The backend is <i>node.js</i> (with ejs for templating), the front-end is standard <i>HTML5 & CSS</i>.  There is no database. Feel free to change any portion of the stack to suit your needs. 

          <h1>What am I supposed to do?</h1>
          <p>There are tasks in the left navigation area. Click on these tasks for instructions on what to do.  Attempt to complete each task, but do not spend too much time on any particular one. Feel free to ask questions during this exercise. We'll discuss your solutions and any problem areas after you have completed.</p>

          <h1>Questions?</h1>
          <p>Ask someone on the team! If you aren't in the office, feel free to email <a href="mailto:dan@yepchat.com">dan@yepchat.com</a></p>
        </section>
      </main>


<% include ../partials/footer.ejs %>
